:root{
  --marquee-width: 80vw;
  --marquee-height: 22vh;
  --marquee-elms-displayed: 5;
  --marquee-elms: 8;
  --marquee-elm-width: calc(var(--marquee-width) / var(--marquee-elms-displayed));
  --marquee-animation-dur: calc(var(--marquee-elms) * 3s);
  --bg: white;
  --bg-panel: white;
  --color-headings: #161c2d;
  --color-text-opacity: rgba(22,28,45, .7);
  --color-text: #161c2d;
  --color-text-base: #161c2d;
  --border: #383f53;
}

section,
footer, 
header, 
main,
nav{
  display: block;
}

*, *::before, *::after{
  box-sizing:border-box;
}

body{
  margin: 0;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--color-text);
  background-color: var(--bg);
  text-align: left;
}

a{
  color: #495fef;
  text-decoration: none;
  background-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6{
  /* color: var(--color-headings); */
  margin-top: 0.25rem;
  margin-bottom: 0.5rem;
}

p{
  margin-top: 0;
}

button{
  outline: none;
}

.container, 
.container-fluid{
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.container{
  max-width: 1140px;
}

.ul-no-bullets{
  list-style: none;
  margin: 0;
  padding: 0;
  color: black;
}

.btn{
  padding: 10px;
  margin-left:10px;
  font-size: 15px;
  line-height: 26px;
  /* text-transform: lowercase; */
  border: 1px solid black;
  cursor: pointer;
  color: var(--color-text);
  background-color: white;
  box-shadow: 10px 10px rgb(0,0,0);
}

.btn:not(:disabled):not(.disabled),
button:not(:disabled):not(.disabled){
  cursor:pointer;
}

.btn-primary,
.btn-primary a{
color:black;
}

.round-pill{
  border-radius: 50rem;
}

.btn:hover{
  padding: 18px;
  color: white;
  font-weight: bold;
  background-color: #0827F5;
}

/* .header-lg{
  font-size: 5rem;
  letter-spacing: -2.5px;
  line-height: 1.05;
} */

.header-md{
  font-size: 3rem;
  letter-spacing: -2px;
}

.sub-header{
  font-size: 1.3125rem;
  line-height: 1.5;
  padding-top: 1.25rem;
}

