:root{
  --bg: white;
  --bg-panel: white;
  --color-headings: #161c2d;
  --color-text-opacity: rgba(22,28,45, .7);
  --color-text: #161c2d;
  --color-text-base: #161c2d;
  --border: #383f53;
}

[data-theme="dark"] {
  --bg: #171a23;
  --bg-panel: #ced4da;
  --color-headings: white;
  --color-text-opacity: rgba(255,255,255, .7);
  --color-text: white;
  --color-text-base: #161c2d;
  --border: #ced4da;
}

[data-theme="dark"] .hero-bg{
  background-image: url('../assets/img/week\ 8\ image\ assets/hero-pattern.webp');
  background-repeat: none;
  background-position: center;
  background-size: cover;
}

[data-theme="dark"] .portfolio i{
  color:#161c2d;
}

[data-theme="dark"] .portfolio .nav-filter{
  color: white;
}