/*Elementals*/
h1, h2, h3{
    font-family: 'Fjalla One';
    text-align: center;
}
h1{
    margin: 1.6% auto;
}
header{
    color: #D6D6B1 !important;
    border-bottom:0px;
    font-family: 'Fjalla One';
}

p{
    font-size: 1.5em;

}

hr{
    margin: 0 2%;
}

footer{
    background-color: #0F0E0E;
    color: #D6D6B1;
}
/*End Elementals*/
/*portfolio section*/

.image {
  width:100%;
  display: block;
  margin-top: 0;
}
.container{
    background-color: #247ba0;
    padding:50px 0 0 0px;
    max-width: 1000px;
    font-family: 'Roboto';
    color: #D6D6B1;
}
.row{
  margin:0;
  width:100%;
}
.content{
  position: relative;
  width:100%;
  padding:0;
}
.container_overlay{
  position: absolute;
  bottom:0;
  left:100%;
  right:0;
  width:0%;
  height:100%;
  overflow:hidden;
  background-color: rgba(0,0,0, .9);
  transition: .5s ease;
}

.content:hover .container_overlay {
  width: 100%;
  left: 0;
}


.link {
  white-space: nowrap;
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.link > a{
  color: white;
}
.link > a:hover{
  color: #efefef;
}
#portfolio > h2{
  padding-bottom: 1.5rem;
}

/*NAVBAR AREA */


.navbar{
    margin-bottom:0;
    justify-content: space-between;
    background-color: #3A4E48;
}

.navbar-default{
  border-color: #3A4e48;
}

.navbar-default .navbar-brand{
  color: #fefefe;
}

.navbar-default .navbar-nav>li>a {
    color: #fefefe;
}

.navbar-default .navbar-toggle {
    border-color: #3A4e48;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fefefe;
}
/*END NAVBAR AREA*/
.profpic{
    height: auto;
    max-width: 200px;
    border-radius: 50%;
    border: 3px solid darkgrey;
}
.jumbotron{
    border-radius: 0px !important;
    text-align: center;
    background-color:#D6D6B1;
    color: #3A4E48;
}

.thumbnail{
    max-width: 35rem;
}

div.col-lg-6 img{
    margin: 1.66% auto;
}

#footer{
    max-width:800px;
    margin: 0 auto;
}

i.fa{
    margin: 1.6% 2%;
    font-size: 50px;
    text-align: center;
}
#colorediv{
    background-color: #3A4E48;
    margin: 0 auto;
}

/*Footer Section*/
footer{
    background-color: #0F0E0E;
    color: #D6D6B1;
}

footer .row{
  text-align: center;
}

/*End Footer Section*/
.col-xs-12 i:hover{
    color: #757575;
}

#colorediv p{
    margin: 0 auto;
    color: #D6D6B1;
    text-align: center;
}

i.fa-coffee, i.fa-heart {
    font-size: .8em;
}

li a{
    transition: 500ms;
}
li a:hover{
    color: white;
    background-color: #8A8E88;
}
