/*Elementals*/
h1, h2, h3{
    font-family: 'Fjalla One';
    text-align: center;
}
h1{
    margin: 1.6% auto;
}
header{
    color: #D6D6B1 !important;
    border-bottom:0px;
    font-family: 'Fjalla One';
}

p{
    font-size: 1.5em;

}

hr{
    margin: 0 2%;
}

footer{
    background-color: #0F0E0E;
    color: #D6D6B1;
}

/*End Elementals*/

.container{
    background-color: #247ba0;
    padding:50px 0 0 0px;
    max-width: 1000px;
    font-family: 'Roboto';
    color: #D6D6B1;
    position:relative;
}

.container_overlay{
  position: relative;
  width:100%;
  height:100%;
  background-color: rgba(0,0,0, .5);
  display: none;
}

.container_overlay:hover{
  display:inline-block;
}

.clickhere{
  text-align: center;
  position: relative;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, .7);
  width: 25%;
  top: 25%;
  /*display: none;*/
}

.clickhere--hover{
  text-align: center;
  position: relative;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, .7);
  width: 25%;
  top: 25%;}




/*NAVBAR AREA */


.navbar{
    margin-bottom:0;
    justify-content: space-between;
    background-color: #3A4E48;
}

.navbar-default{
  border-color: #3A4e48;
}

.navbar-default .navbar-brand{
  color: #fefefe;
}

.navbar-default .navbar-nav>li>a {
    color: #fefefe;
}

.navbar-default .navbar-toggle {
    border-color: #3A4e48;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fefefe;
}
/*END NAVBAR AREA*/
.profpic{
    height: auto;
    max-width: 200px;
    border-radius: 50%;
    border: 3px solid darkgrey;
}
.jumbotron{
    border-radius: 0px !important;
    text-align: center;
    background-color:#D6D6B1;
    color: #3A4E48;
}

.thumbnail{
    max-width: 35rem;
}

div.col-lg-6 img{
    margin: 1.66% auto;
}

#footer{
    max-width:800px;
    margin: 0 auto;
}

i.fa{
    margin: 1.6% 2%;
    font-size: 50px;
    text-align: center;
}
/* Form Area */
div.form-item input{
    display: block;
    font-size: 2.3em;
    width:100%;
}

div.form-item label{
    display: block;
    font-size: 1.3em;
}
div.contactinfo{
    padding-right: 3.5%;
}
div.form-item{
    margin-top: 1.6%;
}
textarea#message{
    width: 100%;
}

form#contactForm, .contactinfo{
    padding: 2.5%;
    width: 75%;
    margin:0 auto;
}
.contactinfo{
    width:50%;
    padding-top: 0;
    padding-right: 3.0%;
}

/*End Form Area */
/*portfolio area*/
#portfolio > h2{
  padding-bottom: 1.5rem;
}
.container__showcase{
  height:300px;
  background-color: gray;
  display:block;
  padding-top:0;
}

.container__showcase--1{
  background-image: url("img/colorpicker.png");
  background-repeat:no-repeat;
  background-position: center top;

}
.container__showcase--2{
  background-image: url("img/prodmanager.png");
  background-repeat:no-repeat;
  background-position: center top;

}
.container__showcase--3{
  background-image: url("img/quote_generator.png");
  background-repeat:no-repeat;
  background-position: center top;

}
/*End Portfolio Section*/
#colorediv{
    background-color: #3A4E48;
    margin: 0 auto;
}

/*Footer Section*/
footer{
    background-color: #0F0E0E;
    color: #D6D6B1;
}

footer .row{
  text-align: center;
}

/*End Footer Section*/
.col-xs-12 i:hover{
    color: #757575;
}

#colorediv p{
    margin: 0 auto;
    color: #D6D6B1;
    text-align: center;
}

i.fa-coffee, i.fa-heart {
    font-size: .8em;
}

li a{
    transition: 500ms;
}
li a:hover{
    color: white;
    background-color: #8A8E88;
}
