.page-block{
  background-color: var(--bg);
  border: 2px solid black;
}

#contact .modal-body{
  flex-direction: column;
  justify-content: start;
  gap: 20px;
  padding-top: 30px;
  align-items: start;
}

#contact .modal-body form{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#contact .modal-body form .block{
  display: flex;
  flex-direction: row;
  gap: 40px;
}

#contact .modal-body form .block .subfield{
  display: flex;
  flex-direction: column;
  width: 100%;
}

#contact .button-field{
  display: flex;
  justify-content: center;
}

#contact button{
  justify-content: center;
}




/* About modal */
#about .modal-body{
  margin-bottom: 2rem;
  padding: 0 2rem;
  align-items: center;
  flex-wrap: wrap;
}


#about .img-wrapper{
  flex: 1;
  text-align: center;
}
#about .img-wrapper img{
  border-radius: 50rem;
}

#about .text-body{
  flex: 1;
  /* font-size: 2rem; */
}

#about .text-body h2{
  font-size: 36px;
}

#about .text-body p, #about .text-body div{
  font-size: 1rem;
  margin: 5px 0;
} 


@keyframes scrolling{
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(calc(-1 * var(--marquee-elm-width) * var(--marquee-elms)));
  }
}

@media (max-width: 991px){
  #about .img-wrapper, #about .about-text{
    flex: initial;
    margin: 0 auto;
  }
  #about .text-body{
    text-align: center;
  }
  .modal-header h3{
    font-size: 22px;
  }
  .modal-body{
    margin: 0;
  }
}

@media (max-width: 768px){

  :root{
    --marquee-width: 100%;
    --marquee-elms-displayed: 2;
  }
}
